nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.log{
    display: none;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #14213D;
}
@media(max-width:425px){
    ul{
        display: none;
    }
    .log{
        display: inline;
    }
}