*{
  margin: 0;
}
header{
  max-width: 1200px;
  margin: auto;
}
.headSec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/Background.png);
  block-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
color: white;
margin-top: 50px;
}
.headLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding-left: 76px;

}
.headLeft h1{
  font-size: 50px;
}
.headRight{
  width: 40%;
}
.headRight img{
  width: 100%;
}
main{
  max-width: 1200px;
  margin: auto;
}
.experience{
  position: relative;
  bottom: 70px;
  background-color: #14213D;
  color: white;
  border-radius: 35px;
  padding: 50px 20px;
gap: 20px;
width: 70%;
  display: flex;
  align-items:end;
flex-direction: column;
text-align: start;
margin:auto;
  .size-6{
    width: 30px;
  }
}
.expText{
  width: 90%;
  line-height: 30px;

}
.clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
margin-top: 50px;
}
.company{
  display: flex;
  align-items: center;
  gap: 30px;
}
.gray{
  color: #59616D;
}
.challenge{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}
.leftChelenge{
  width: 50%;
}
.leftChelenge img{
  width: 100%;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.text h1{
font-size: 40px;
}
.rightChelenge{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
gap: 100px;
}
.allsolution{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.solution1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 40%;
}
.soltext{
  display: flex;
  align-items: center;
  gap: 10px;
}
.workProcess{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.leftProc{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 52px;
width: 40%;
}
.rightproc{
  width: 45%;
}
.arrowing{
  display: flex;
justify-content: space-between;
margin-top:100px;
}
.leftarrow{
  line-height: 50px;
}

.rightarrow{
  display: flex;
  gap: 20px;
  align-items: center;
}
.size-6-1{
  width: 70px;
  background-color: #14213D80;
  color: #BCBFC6;
  border-radius: 50%;
  padding: 10px;
}
.size-6-2{
  width: 50px;
  background-color: #14213D;
  color: white;
  border-radius: 50%;
  padding: 10px;
}
.ourProduct{
  margin-top: 100px;
}
.ourProduct{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 50px;
  text-align: center;
  flex-wrap: wrap;
}
.inp{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
@media(max-width:425px){
 .headSec{
  flex-direction: column;
 } 
 .headLeft{
  width: 90%;
  padding-left: 0;
  padding-top: 30px;
 }
 .headLeft h1{
  font-size: 30px;
}
 .headRight{
  width: 90%;
 }
 .company{
  flex-direction: column;
 }
 .challenge{
  flex-direction: column;
 }
 .leftChelenge{
  width: 90%;
 }
 .rightChelenge{
  width: 90%;
 }
 .workProcess{
  flex-direction: column;
  gap: 40px;
 }
 .leftProc{
  width: 90%;
 }
 .rightproc{
  width: 90%;
 }
 .arrowing{
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 .ourProduct{
  flex-direction: column;
  gap: 50px;
 }
}